body{
    margin-top: 150px;
    background-color: #bdc3c7;
}

.nav-item{
    display: inline-block;
    margin-left:2rem;
}

nav{
    background-color: rgba(0,0,0,0.8);
    padding: 1.5rem;
    position: fixed;
    width: 100%;
    margin-top: -150px;
    z-index: 100;
}

.yellow{
    color: yellow;
    font-size: 30px;
}

h2{
    text-align: center;
}

.chart-wrap {
    height: 650px;
    width: 500px;
    margin-left: 350px;
}

.chart-wrap .grid{
    position: relative;
    height: 78%;
    width: 100%;
    padding: 5px 0px 5px 0px;
    background: repeating-linear-gradient(90deg, transparent, transparent 19.5%, black 20%);
    border-left: 2px solid #363636;
}

.chart-wrap .bar{
    width: var(--bar-value);
    height: 100px;
    background-color: #2c3e50;
    margin: 30px 0;
}

.chart-wrap.vertical .grid{
    transform: translateY(-10px) translateX(10px) rotate(-90deg);
}

.chart-wrap .bar::after {
    content: attr(data-name);
    display: inline-block;
    padding: 10px;
    margin-left: 100%;
    font-size: 30px;
}

.chart-wrap.vertical .grid .bar::after{
    transform: translateY(-50%) rotate(45deg);
    display: block;
}

/* .chart-wrap .title{
    text-align: center;
    white-space: nowrap;
} */

.chart-wrap .grid::before{
    content: "0%";
    position: absolute;
    left: -0.5em;
    top: -1.5em;
}

.chart-wrap .grid::after{
    content: "100%";
    position: absolute;
    right: -0.5em;
    top: -1.5em;
}

.color {
    margin-top: 150px;
    text-align: center;
    animation: change-color 4s infinite;
}

@keyframes change-color {
    0%{color:rgb(66, 133, 244);}
    24%{color:rgb(66, 133, 244);}
    49%{color:rgb(219, 68, 55);}
    74%{color:rgb(244, 180, 0)}
    100%{color:rgb(15, 157, 88)}
}
